body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #f0f0f0;
}

#app {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

#taskInput, #deadlineInput {
  width: calc(80% - 12px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

li.completed {
  background-color: #d3ffd3;
  text-decoration: line-through;
  color: #aaa;
}

li.completed input[type="checkbox"] {
  background-color: #28a745;
}

li input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

li input[type="text"], li input[type="date"] {
  border: none;
  background: transparent;
  font-size: 1em;
}

.collapsed {
  display: none;
}

/* カレンダーのスタイル */
.calendar {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-top: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #ccc;
}

.calendar-body {
  padding: 10px;
}

.day-names {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.days div {
  width: 14.28%;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.days div:nth-child(7n+1) {
  color: red;
}

.days div:nth-child(7n) {
  color: blue;
}

.highlight {
  background-color: green;
  color: white; /* 文字色を白にする */
  border-radius: 4px; /* 四角形を保持しつつ、少し角を丸める */
  padding: 5px;
}
